<div class="box">
  <div class="container detailInformationBox">
    <div class="row">
      <div class="col-sm projectDescription"><p>{{ project.projectDescription }}</p></div>
      <div class="col-sm responsiblePerson"><p>Verantwortlicher: {{ project.responsiblePerson.getNameOfUser()}}</p></div>
    </div>
    <div class="row">
      <div class="col-sm start"><p>Start: {{ project.start | date: 'MM/yyyy'}}</p></div>
      <div class="col-sm end"><p>Ende: {{ project.end | date: 'MM/yyyy'}}</p></div>
    </div>
  </div>
</div>
