<div class="box">
  <div class="container detailInformationBox">
    <div class="row">
      <div class="col-10 start">
        <div class="row">
          <div class="col-sm projectDescription"><p>{{ project.projectDescription }}</p></div>
          <div class="col-sm responsiblePerson"><p>Verantwortlicher: {{ project.responsiblePerson.getNameOfUser()}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm start"><p>Start: {{ project.start | date: 'dd.MM.yyyy'}}</p></div>
          <div class="col-sm end"><p>Ende: {{ project.end | date: 'dd.MM.yyyy'}}</p></div>
        </div>
      </div>
      <div class="col end">
        <div class="row iconsPosition">
          <div class="col-sm-3 icon">
            <button mat-icon-button aria-hidden="false" (click)="openEditDialog()"><mat-icon>edit</mat-icon></button>
          </div>
          <div class="col-sm icon">
            <button mat-icon-button aria-hidden="false" (click)="deleteItem()"><mat-icon>delete_forever</mat-icon></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
