<h1 mat-dialog-title>Hinzufügen eines Projekts</h1>
<hr class="customHrElement">
<div mat-dialog-content>
  <div class="container" [formGroup]="projectFromGroup">
    <div class="row">
      <div class="col-xs">
        <h4>Projektbasisdaten</h4>
        <hr class="customHrElement">
        <mat-form-field>
          <mat-label>Angebotsnummer</mat-label>
          <input matInput formControlName="orderNumber" matNativeControl>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Projektbezeichnung</mat-label>
          <input matInput formControlName="projectDescription">
        </mat-form-field>
        <br>
        <form [formGroup]="dateForm">
          <mat-form-field>
            <mat-label>Projektstart</mat-label>
            <input matInput matNativeControl [matDatepicker]="startDate" formControlName="start">
            <mat-error *ngIf="f.start.errors">
              <p *ngIf="f.start.errors.dateInvalid">
                <mat-icon>error</mat-icon>Das Datum darf nicht vor heute liegen!
              </p>
            </mat-error> 
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Projektende</mat-label>
            <input matInput matNativeControl [matDatepicker]="endDate" formControlName="end">
            <mat-error *ngIf="f.end.errors">
              <p *ngIf="f.end.errors.dateInvalid">
                <mat-icon>error</mat-icon>Das Projektende darf nicht vor dem Projektstart liegen!
              </p>
          </mat-error>
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
          </mat-form-field>
      </form>
      </div>
      <div class="col float-right">
        <h4>Weitere Projektdaten</h4>
        <hr class="customHrElement">
        <mat-checkbox [checked]="reminder" (change)="updateReminder()">Erinnerung</mat-checkbox>
        <hr class="customHrElement">
        <div *ngIf="reminder" class="reminderSection">
          <mat-form-field>
            <mat-label>Start-Erinnerung</mat-label>
            <mat-select formControlName="startReminder">
              <mat-option *ngFor="let time of times" [value]="time">
                {{time}} Woche(n)
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>End-Erinnerung</mat-label>
            <mat-select formControlName="endReminder">
              <mat-option *ngFor="let time of times" [value]="time">
                {{time}} Woche(n)
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field>
          <input type="text"
                 placeholder="Projektleiter"
                 aria-label="Projektleiter"
                 matInput
                 [matAutocomplete]="auto"
                 [formControl]="userNameFormControl">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let user of filteredOptions | async" [value]="user">
              {{ user }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <div class="container">
    <div class="row">
      <button mat-button class="col" (click)="hideDialog()">Abbrechen</button>
      <button mat-button class="col float-right" (click)="createProject()">Hinzufügen</button>
    </div>
  </div>
</div>
