.weatherWidgetRow{
  display:block;
  margin:0 auto;
  width: fit-content;
}

#divWeatherMain{
  display: block;
  border-radius: 10px;
  width: 21vw;
  height: 41vh;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,7,42,1) 75%, rgb(8, 10, 63) 100%);
  color: white;;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sun{
  margin-top: 10px;
  color: yellow;
  filter: drop-shadow( 1px 1px 10px yellow);
}

.moon{
  margin-top: 10px;
  color: white;
  filter: drop-shadow( 1px 1px 10px white);
}

.cloudDiv{
  margin-top: -2.5vh;
}

.cloud{
  color: rgb(104, 175, 197);
  filter: drop-shadow( 1px 1px 5px rgb(104, 175, 197));
  animation-name: cloudMovement;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes cloudMovement{
  from{margin-left: -55px;}
  to{margin-left: 65px;}
}

.positionInBox {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.positionOfComponent {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.iconSize {
  font-size: 5.5vh
}

.withOutCloudMargin {
  margin-bottom: 2.5vh;
}
