<div class="container positionInBox">
  <div class="row">
    <div class="col-xl">
      <p style="font-weight: bold; font-size: 70px">{{ time | date: 'hh:mm' }}</p>
    </div>
    <div class="col-xl">
      <div class="align-content-center align-middle positionOfComponent">
        <div id="divWeatherMain">
          <div *ngIf="weatherData?.isDay" class="weatherWidgetRow" [ngClass]="{'withOutCloudMargin': !weatherData?.cloud}" >
            <i class="wi wi-day-sunny iconSize" style="margin-top: 1.4vh;"></i>
          </div>
          <div *ngIf="!weatherData?.isDay" class="weatherWidgetRow" [ngClass]="{'withOutCloudMargin': !weatherData?.cloud}">
            <i class="wi wi-night-clear iconSize" style="margin-top: 1.4vh;"></i>
          </div>
          <div *ngIf="weatherData?.cloud" class="weatherWidgetRow cloudDiv">
              <i class="wi wi-cloud cloud iconSize"></i>
          </div>
          <div class="weatherWidgetRow" style="font-size: 2.5vw;margin-top: 5px;">{{weatherData?.tempCelcius}}°</div>
          <div class="weatherWidgetRow" style="font-size: 1.5vw;margin-top:4vh">{{weatherData?.tempMin}}° / {{weatherData?.tempMax}}°
          </div>
          <div class="weatherWidgetRow" style="font-size: 2vw;margin-top:4vh">Gefühlt: {{weatherData?.tempFeeling}}°</div>
          <div class="weatherWidgetRow" style="font-size: 2.5vw;margin-top:4vh">{{weatherData?.name}}</div>
          <div class="weatherWidgetRow" style="font-size: 1.5vw;margin-top:4vh">Luftfeuchtigkeit: {{weatherData?.main.humidity}}%
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
